* {
    padding: 0;
    margin: 0;

}

body {
    height: 120vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.displayFlex {
    display: flex;
    align-items: center;
}

.selecaoHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 100%;
    width: 110px;
    color: black;
    border: 1px black solid;
    border-top: none;
    border-bottom: none;
}

.imagem {
    display: flex;
    position: relative;
    margin-top: 30px;
}

main {
    height: 100%;
    width: 100%;
    background-color: white;
}

.selecaoPrimaria {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selecaomemu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.memuConteudo{
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline ;
    text-transform: uppercase;
    color: black;
    display: flex;
    margin-bottom: 50px;
}

.selecaoContato {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    gap: 30px;
}

.selecaoBaixo {
    height: 65px;
    width: 100%;
    background-color: white;
    border-left: 1.6px black solid;
    border-top: 1.6px black solid;
    border-left: none;
}

.textoNome {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}


menu{
    display: none ;
}

.selecaoNomeELogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.selecaoCima {
    height: 80px;
    width: 100%;
    background-color: white;
    border-left: 1.6px black solid;
    border-bottom: 1px black solid;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
}

.selecaoPrimariaMeio {
    display: flex;
    height: 100%;
}

.botaoContato {
    height: 80px;
    width: 200px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid black;
    font-family: 'Ubuntu', sans-serif; 
}



.selecaoNomeELogo {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.selecaoDoMeio {
    background-color: white;
    width: 50%;
    border: 1px black solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-size: 70px;
}

.TextoSobreMim {
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
}

.classSpan {
    text-shadow: 2px 2px 10px black;
    color: white;
}

.selecaoCoteudo {
    margin-left: 100px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
}

.selecaoDoMeioDireito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    width: 50%;
    border: 1px black solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;

}


.avatar {
    border-radius: 100%;
}

@media (max-width: 500px) {

    .selecaoPrimariaMeio {
        display: flex;
        flex-direction: column;
    }

    ;

    .TextoSobreMim {
        margin-top: 20px;
        font-size: 5px;


    }

    .selecaoDoMeioDireito {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid black;
    }

    .selecaoDoMeio {
        width: 100%;
        display: flex;
        border-right: none;
    }

    .titulo {
        font-size: 20px;
        position: relative;
        left: -30px;
    }

    .selecaoCoteudo {
        margin-left: 50px;
        text-align: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .selecaoContato {
        margin: 15px;
    }

    .selecaoNomeELogo {
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .selecaoCima {
        padding-left: 10px;
    }

    body {
        height: 1500px;
    }


    .avatar {
        margin-top: 100px;
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1200px) {

    .titulo {
        font-size: 50px;
    }

}


@media (max-width: 1000px) {

    .titulo {
        font-size: 30px;
    }

    .avatar {
        width: 300px;
        height: 300px;
    }

}


@media (max-width: 767px) {

    .selecaoPrimariaMeio {
        display: flex;
        flex-direction: column;
    }

    ;

    .TextoSobreMim {
        margin-top: 20px;
        font-size: 5px;


    }

    .selecaoDoMeioDireito {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid black;
    }

    .selecaoDoMeio {
        width: 100%;
        display: flex;
        border-right: none;
    }

    .titulo {
        font-size: 20px;
        position: relative;
        left: -30px;
    }

    .selecaoCoteudo {
        margin-left: 50px;
        text-align: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .selecaoContato {
        margin: 15px;
    }

    .selecaoNomeELogo {
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .selecaoCima {
        padding-left: 10px;
    }

    body {
        height: 1500px;
    }


    .avatar {
        margin-top: 100px;
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1157px) {

    .titulo{
        font-size: 40px;
    }


}